body {
    font-size: 14px;
}
footer {
    bottom: 0;
}

#global-sidebar {
    position: fixed;
    top: 85px;
    width: 250px;
    height: 100%;
    border-right: 2px solid #ccc;
}

nav.gs li {
    margin: 5px 0;
}

#global-search-box {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 85px;
    width: 100%;
    border-bottom: 2px solid #ccc;
}

#gsb-input {
    margin: 14px 0 0 10%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 85%;
    display: table;
}

#gsb-input .addon {
    width: 1%;
    display: table-cell;
    vertical-align: middle;
}

input.gsb {
    padding: 0 7px;
    font-size: 18px;
    height: 55px;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    display: table-cell;
    width: 100%;
}

button.gsb[type=submit] {
    background: #09f;
    color: #FFF;
    border-radius: 0 3px 3px 0;
    height: 55px;
    width: 75px;
}

#global-content {
    margin-top: 100px;
    margin-left: 250px;
}

.content {
    margin: 18px;
}

footer {
    margin: 18px;
    border-top: 1px solid #ccc;
}

