<!DOCTYPE html>
<html>
    <head>
        <meta charset="<% settings.charset %>">
        <title>P5iq</title>
        <link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
    </head>
    <body>
        <header>
            <div id="global-search-box">
                <form class="gsb" method="GET" action="/">
                    <div id="gsb-input">
                        <input class="gsb" name="q" autofocus type="search" value="<% global_search_query %>">
                        <div class="addon">
                            <button class="gsb" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </header>

        <div id="global-sidebar">
            <nav class="gs">
                <h4>Projects</h4>
                <ul>
                    <% FOREACH project IN global_projects %>
                    <li><a href="<% project.url %>"><% project.name %></a></li>
                    <% END %>
                </ul>
            </nav>
        </div>

        <div id="global-content">
            <% content %>
            <footer>
                Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
            </footer>
        </div>
    </body>
</html>
