<div class="content">

    <h2>packages</h2>
    <ul>
        <% FOREACH package IN project_info.packages %>
        <li><a href="<% package.url %>"><% package.name %></a></li>
        <% END %>
    </ul>

    <h2>files (<% project_info.files_count %>)</h2>
    <ul>
        <% FOREACH file IN project_info.files %>
        <li><a href="<% file.url %>"><% file.name %></a></li>
        <% END %>
    </ul>
    
</div>
