<div class="content">
    <h4>definitions</h4>
    <ul>
    <% FOREACH thing IN subroutine_info.definitions %>
    <li><a href="<% thing.url %>"><% thing.file %>: <% thing.location.begin.line %></a></li>
    <% END %>
    </ul>

    <h4>arg lists</h4>
    <h4>use cases</h4>
</div>
