<div class="content">
    <h4>definitions</h4>
    <ul>
    <% FOREACH thing IN subroutine_info.definitions %>
    <li><a href="<% thing.url %>"><% thing.file %>: <% thing.location.begin.line %></a></li>
    <% END %>
    </ul>

    <h4>dependencies</h4>
    <ul>
    <% FOREACH thing IN subroutine_info.dependencies %>
    <li><a href="<% thing.url %>"><% thing.gist %></a></li>
    <% END %>
    </ul>

    <h4>use cases: function calls </h4>
    <ul>
    <% FOREACH thing IN subroutine_info.function_calls %>
    <li><a href="<% thing.url %>"><% thing.file %>: <% thing.location.begin.line %></a></li>
    <% END %>
    </ul>

    <h4>use cases: method invocations</h4>
    <ul>
    <% FOREACH thing IN subroutine_info.method_invocations %>
    <li><a href="<% thing.url %>"><% thing.file %>: <% thing.location.begin.line %></a></li>
    <% END %>
    </ul>

    <h4>arg lists</h4>
</div>

